server:
    port: 8080
spring:
    application:
        name: gateway
    main:
        web-application-type: reactive
    cloud:
        gateway:
            discovery:
                locator:
                    enabled: true
                    lower-case-service-id: true
            routes:
                - id: user-service
                  uri: lb://user-service
                  predicates:
                    - Path=/api/user/**
                  filters:
                    - StripPrefix=2
                - id: product-service
                  uri: lb://product-service
                  predicates:
                    - Path=/api/product/**
                  filters:
                    - StripPrefix=2
                - id: order-service
                  uri: lb://order-service
                  predicates:
                    - Path=/api/order/**
                  filters:
                    - StripPrefix=2
                - id: api-docs-user-service
                  uri: lb://user-service
                  predicates:
                    - Path=/v3/api-docs/user-service
                  filters:
                    - RewritePath=/v3/api-docs/user-service, /v3/api-docs
                - id: api-docs-product-service
                  uri: lb://product-service
                  predicates:
                    - Path=/v3/api-docs/product-service
                  filters:
                    - RewritePath=/v3/api-docs/product-service, /v3/api-docs
                - id: api-docs-order-service
                  uri: lb://order-service
                  predicates:
                    - Path=/v3/api-docs/order-service
                  filters:
                    - RewritePath=/v3/api-docs/order-service, /v3/api-docs
eureka:
    client:
        service-url:
            defaultZone: http://localhost:8761/eureka/
        fetch-registry: true
        register-with-eureka: true
    instance:
        prefer-ip-address: true
springdoc:
    api-docs:
        path: /v3/api-docs
        groups:
            enabled: true
    swagger-ui:
        path: /swagger-ui.html
        enabled: true
        urls:
            - name: User Service
              url: /v3/api-docs/user-service
            - name: Product Service
              url: /v3/api-docs/product-service
            - name: Order Service
              url: /v3/api-docs/order-service
        operations-sorter: method
        tags-sorter: alpha
        display-request-duration: true
        csrf:
            enabled: false
