server:
    port: 8081
spring:
    application:
        name: user-service
    datasource:
        url: jdbc:mariadb://localhost:3306/multi-module-demo-db?createDatabaseIfNotExist=true
        username: root
        password: 123456
        driver-class-name: org.mariadb.jdbc.Driver
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MariaDBDialect
                '[format_sql]': true
eureka:
    client:
        service-url:
            defaultZone: http://localhost:8761/eureka/
        fetch-registry: true
        register-with-eureka: true
    instance:
        prefer-ip-address: true
        instance-id: ${spring.application.name}:${server.port}
